html,
body{
	background: url('../images/bg.png');
	background:  repeat-x 100%;
	background: repeat-y 100%;
	
}

aside span{
	display:inline-block;
	width:140px;
	padding:5px;
	padding-left:6px;
	text-align:left;
}

aside img{
	width:140px;
	height:200px;
}
